.App {
  background: linear-gradient(150deg, green 60%, #18181a 60%);
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

#title {
  font-size: 38px;
  font-weight: bold;
  text-align: left;
  align-items: left; 
  color: white;
  margin-left: 30px;
}

#questionPlaceHolder {
  font-size: 1.0em;
  font-weight: bold;
  color: black;
  padding: 1em;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.YNButtons {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  width: 125px;
  height: 40px;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 20px;
  border: none;
}

#yButton {
  background-color: #008000;
  color: white;
}
#nButton {
  background-color: #ff0000;
  color: white;
}
#buttonContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 1em;
}

#infoContainer {
  width: 100%;
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
}

#questionContainer {
  margin-top: 250px;
  background-color: white;
  height: 250px;
  width: 85%;
  border-radius: 30px;
  position: absolute;
  align-self: center;
}

.commonHelpInfo {
  font-family: 'Poppins', sans-serif;
  width: 90%;
  height: 50px;
  font-size: 1em;
  text-align: left;
  padding-left: 5%;
  border-radius: 10px;
  border-color: darkgrey;
  border-style: none;
  margin-top: 5px;
}